<div class="header clearfix" data-th-fragment="header">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/semesters">Semesters</a></li>
			<li><a href="/topics">Topics</a></li>
			<li><a href="/lecturers">Lecturer</a></li>
			<li><a href="/users">Users</a></li>
		</ul>
	</nav>
	<img src="/images/software-engineering-uni-kassel.png" class="img-responsive" alt="Software Engineering Research Group Kassel"></img> <a href="/" class="btn"><h3 class="text-muted">SE Seminar Registration</h3></a>
</div>